{% extends 'layout/frame.html.twig' %}

{% block framed %}
    <h1 class="text-primary">Edit my profile</h1>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
    {% if not app.user.organization %}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
    {% else %}
        {{ form_row(form.organization.name) }}
        {{ form_row(form.organization.address) }}
        {{ form_row(form.organization.registrationNb) }}
    {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.biography) }}
        {{ form_row(form.country) }}
        {{ form_row(form.skills, {'attr': {'class': 'overflow-auto form-control checkbox-overflow'}}) }}
        {{ form_row(form.languages, {'attr': {'class': 'overflow-auto form-control checkbox-overflow'}}) }}
        <button class="btn btn-primary">Submit my modification</button>
        {{ form_end(form) }}
{% endblock %}