{% extends 'layout/frame.html.twig' %}

{% block framed %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-primary">Edit my profile</h1>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {% if not app.user.organization %}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                {% else %}
                    {{ form_row(form.organization.name) }}
                    {{ form_row(form.organization.address) }}
                    {{ form_row(form.organization.registrationNb) }}
                {% endif %}
                {{ form_row(form.email) }}
                {{ form_row(form.country) }}
                {{ form_row(form.languages, {'attr': {'class': 'overflow-auto form-control checkbox-overflow'}}) }}
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">

                {{ form_row(form.biography) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Submit my modification</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
