<div class="notification-button text-center">
    <button class="btn btn-blueish dropdown-toggle position-relative" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell"></i>
        {% if (unreadNotificationsCount != 0) %}
            <div class="badge badge-pill badge-primary position-absolute px-2 py-1 notification-badge">{{ unreadNotificationsCount }}</div>
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-right py-0 mr-1" aria-labelledby="dropdownMenuButton">
        {% for notification in notifications %}
            <form action="{{ path('notification_read', {'id': notification.id}) }}" method="post">
                <button class="dropdown-item alert alert-{{ (notification.isRead) ? 'light' : 'blueish' }} my-0 border-left-{{ (notification.isRead) ? 'light' : 'blueish' }}">
                    {% if notification.isRead %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-bookmark mr-2"></i>
                    {% endif %}
                    {{ notification.content }}
                </button>
            </form>
            {#<a class="dropdown-item alert alert-{{ (notification.isRead) ? 'light' : 'blueish' }} my-0 border-left-{{ (notification.isRead) ? 'light' : 'blueish' }}"
               href="{{ path('notification_read', {'id': notification.id}) }}">
                <i class="fas fa-bookmark mr-2"></i>{{ notification.content }}
            </a>#}
        {% endfor %}
    </div>
</div>
