<p>Your validated projects as a PROJECT OWNER :</p>
<ul>
    {% for participation in app.user.participants %}
        {% if participation.role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER') %}
            <li>
                <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<p>Your validated projects as a VOLUNTEER:</p>
<ul>
{% for participation in app.user.participants %}
    {% if participation.role == constant('App\\Entity\\Participant::ROLE_VOLUNTEER') %}
        <li>
            <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
<p>Your projects waiting for the project owner approval :</p>
<ul>
    {% for participation in app.user.participants %}
        {% if participation.role == constant('App\\Entity\\Participant::ROLE_WAITING_VOLUNTEER') %}
            <li>
                <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
