{% for participation in app.user.participants %}
    <div class="d-flex row justify-content-between">
        <div class="col-10">
            <p>
                <span class="badge badge-secondary-alt">
                {% if participation.role == 'Volunteer' %}
                    Your validated projects as a volunteer :
                    <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
                {% elseif participation.role == 'Project Owner' %}
                    Your projects as a project owner :
                    <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
                {% elseif participation.role == 'organization' %}
                    Your projects as an organization :
                    <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
                {% elseif participation.role == 'waiting_volunteer' %}
                    Your projects waiting for the project owner approval :
                    <a href="{{ path('project_show', {'id': participation.project.id}) }}">{{ participation.project.title }}</a>
                {% endif %}
                </span>
            </p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary">
                {{ (participation.project.status == 0) ? 'Request' : 'Validated' }}
                <span class="badge badge-light">2</span>
                <span class="sr-only">unread messages</span>
            </button>
        </div>
    </div>
{% endfor %}
