{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block content %}
    <div class="taskDashboard">
        <div class="row justify-content-sm-center mt-5">
            <div class="home-section d-flex flex-column bg-light col-md-10 col-sm-10 rounded m-4 p-4 shadow">

            <h1>All tasks in this project</h1>
        <a href="{{ path('project_task_new', {'id' : project.id}) }}">Create a new task</a>
            </div>
    {% for task in project.tasks %}
<div class="flex-row">
        <div class="card task m-1" style="width: 12rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.name }}</h5>
                <h6>Attributed to : {% for user in task.users %}
                        <cite>{{ user.firstname }}</cite>
                    {% endfor %}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Created on : <cite>{{ task.createdAt|date('Y-m-d') }}</cite></h6>
                {# <h6 class="card-subtitle mb-2 text-muted">Updated on : {{ task.createdAt === task.upadtedAt ? '' : task.updatedAt|date('Y-m-d') }}</h6> #}
                <p class="card-text">{{ task.description }}</p>
                <a href="{{ path('project_task_edit', {'idTask': task.id}) }}" class="card-link">edit</a>

            </div>
        </div>
</div>
    {% else %}
        <h3>no tasks yet on this project</h3>
    {% endfor %}
    </div>
        </div>
{% endblock %}
