{% extends 'layout/frame.html.twig' %}
{% block framed %}
<div class="container d-flex flex-column bg-light rounded w-100 mt-3 pr-0 pl-0">
    <div class="row">
            <a href="{{ path('dashboard_index') }}#messages">Back the inbox messages</a>
    </div>
    {% if app.user.organization != true %}
    <h5>Tchat with - {{ app.user == conversations[0].receiver ? conversations[0].sender.FullNameIfMemberOrONG : conversations[0].receiver.FullNameIfMemberOrONG }}</h5>
    {% else %}
    <h5>Tchat with - {{ app.user.organization == conversations[0].receiver ? conversations[0].sender.FullNameIfMemberOrONG : conversations[0].receiver.FullNameIfMemberOrONG }}</h5>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-12 card m-1 border border-blueish" style="height: 400px;">
            <div class="card-body overflow-auto scroll" id="scroll">
                {% for conv in conversations %}
                    <span>
                        {% if conv.sender.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                            <img class="avatar-img" style="width: 35px; height: 35px; border: 1px" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}">
                        {% else %}
                            <img class="avatar-img" style="width: 35px; height: 35px; border: 1px" src="{{ asset('uploads/images/avatar/') }}{{ conv.sender.avatar.name }}">
                        {% endif %}
                    </span>
                    <small class="mb-0 badge badge-light border">{{ conv.sender.FullNameIfMemberOrONG }}</small>
                    <small>at : {{ conv.sentAt | format_datetime(pattern="hh mm a '-' dd MMM yy, ZZZZ") }}</small>
                    <p><em>{{ conv.content }}</em></p>
                {% endfor %}
            </div>
            <div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                <button class="btn-blueish">Send back</button>
                {{ form_row(form.content) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scroll') }}
{% endblock %}
