{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="row justify-content-sm-center">
        <div class="home-section d-flex flex-column bg-light rounded p-2 w-100 mx-4">
            <div>
                <h4>Inbox</h4>
                <p><a href="{{ path('messages_new')}}">Write a new message to someone else</a></p>
                {% if contacts is not empty %}
                    <div class="container p-0 m-0">
                            <h2>All your conversations below</h2>
                        <div class="row">
                            {% for contact in contacts %}
                                <div class="card task my-3 col-12 col-lg-5 mx-1">
                                    <a href="{{ path('messages_conv', {'user': contact.id}) }}">
                                        <div class="card-body" style="display: flex">
                                            <div class="m-1 p-1">
                                                {% if contact.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                                                    <img class="avatar-img" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}">
                                                {% else %}
                                                    <img class="avatar-img" src="{{ asset('uploads/images/avatar/') }}{{ contact.avatar.name }}">
                                                    {% endif %}
                                            </div>
                                            <div class="ml-2 pt-3">
                                                {{ contact.FullNameIfMemberOrONG }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                {% else %}
                    <p class="alert alert-secondary-alt">You don't have messages yet</p>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="row justify-content-sm-center">
            <div class="home-section d-flex flex-column bg-light rounded p-4 shadow w-100 mx-4">
                <div>
                     <p>You are not connected, you must be connected to send a message</p>
                </div>
            </div>
        </div>
{% endif %}
