<nav id="home-nav" class="navbar navbar-expand-lg navbar-light w-100">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('build/images/LogoColorOnWhite.png') }}" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse color justify-content-between" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto text-blueish form-inline">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
                <div id="home-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/#concept">Concept</a>
                    <a class="dropdown-item" href="/#whoweare">Who we are ?</a>
                    <a class="dropdown-item" href="/#howdoesitwork">How does it work ?</a>
                    <a class="dropdown-item" href="/#home-carousel">News</a>
                    <a class="dropdown-item" href="/#questionsanswers">Q & A</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div id="home-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('project_index') }}">Explore the Projects</a>
                    <a class="dropdown-item" href="{{ path('project_new') }}">Submit your own</a>
                </div>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Members
                    </a>
                    <div id="home-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('member_show') }}">Members</a>
                        <a class="dropdown-item" href="{{ path('organization_show') }}">Organizations</a>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_index') }}">Blog</a>
            </li>
        </ul>
        <ul class="navbar-nav text-blueish form-inline">
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <li class="mr-3">
                    {{ render(controller('App\\Controller\\NotificationController::index')) }}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                            {% if app.user and app.user.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                                <img class="avatar-img img-fluid" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}">
                            {% else %}
                                <img class="avatar-img img-fluid" src="{{ asset('uploads/images/avatar/') }}{{ app.user.avatar.name }}" class="img-fluid">
                            {% endif %}
                        {% endif %}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: -3rem;">
                        <a class="nav-link" href="{{ path('dashboard_index') }}">Dashboard</a>
                        {% if is_granted('ROLE_ADMIN')%}
                            <a class="nav-link" href="{{ path('administration') }}">Administration</a>
                        {% endif %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: -3rem;">
                        <a class="dropdown-item" href="{{ path('app_register') }}">As a member</a>
                        <a class="dropdown-item" href="{{ path('app_register_organization') }}">As an organization</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
