<div class="row justify-content-sm-center">
    <div id="questionsanswers" class="home-section container bg-light col-sm-10 rounded m-5 p-4 shadow">
        <h2 class="text-primary">Q&A</h2>
        <div id="accordion">


            {% for faq in faqs %}
                <div class="card">
                    <div class="card-header" id="heading{{ faq.numero }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ faq.numero }}" aria-expanded="false" aria-controls="collapse{{ faq.numero }}">


                                {{ faq.title }}
                            </button>
                        </h5>
                    </div>
<<<<<<< HEAD
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ faq.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
=======

                    <div id="collapse{{ faq.numero }}" class="collapse" aria-labelledby="heading{{ faq.numero }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ faq.content|raw }}
                    </div>
                </div>
            {% endfor %}

>>>>>>> 9b41f92f4f14c926a86ec72209c4ecb70b81410e
        </div>
    </div>
</div>

