
<div id="whoweare" class="jumbotron paral paralsec2 d-flex flex-column align-items-center justify-content-center">
    <div class="home-section d-flex flex-column bg-light col-md-10 col-sm-10 rounded m-4 p-4 shadow">
        <h2 class="text-primary">{{ home_content.section2Title }}</h2>
        <div class="w-100">
            <p class="lead text-dark" >
                {{ home_content.section2Content }}            </p>
        </div>
        <div id="top-stats" class="d-flex justify-content-around">
            <div class="d-flex flex-column align-content-center text-center col my-4">
                <div><img src="{{ asset('build/images/icon-members.svg') }}" class="home-svg" height="50" alt="Projects"></div>
                <p class="h4">{{ stats.volunteerTotal }}</p>
                <p class="h5">Volunteers</p>
            </div>
            <div class="d-flex flex-column align-content-center text-center col my-4">
                <div><img src="{{ asset('build/images/icon-projects.svg') }}" class="home-svg" height="50" alt="Projects"></div>
                <p class="h4">{{ stats.onGoingProjectTotal }}</p>
                <p class="h5">Projects</p>
            </div>
            <div class="d-flex flex-column align-content-center text-center col my-4">
                <div><img src="{{ asset('build/images/icon-countries.svg') }}" class="home-svg" height="50" alt="Projects"></div>
                <p class="h4">{{ stats.countryTotal }}</p>
                <p class="h5">Countries</p>
            </div>
            <div class="d-flex flex-column align-content-center text-center col my-4">
                <div><img src="{{ asset('build/images/icon-organizations.svg') }}" class="home-svg" height="50" alt="Projects"></div>
                <p class="h4">{{ stats.organizationTotal }}</p>
                <p class="h5">Organizations</p>
            </div>
        </div>
    </div>
</div>
