{% extends 'base.html.twig' %}

{% block title %}Tchat index{% endblock %}

{% block body %}
    <h1>Tchat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tchat in tchats %}
            <tr>
                <td>{{ tchat.id }}</td>
                <td>{{ tchat.name }}</td>
                <td>
                    <a href="{{ path('tchat_show', {'id': tchat.id}) }}">show</a>
                    <a href="{{ path('tchat_edit', {'id': tchat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tchat_new') }}">Create new</a>
{% endblock %}
