<div class="d-flex flex-column align-content-center justify-content-center">
    <div class="filters">
        <div class="ui-group">
            <div class="button-group filter-button-group text-center mb-5" data-filter-group="sdg">
                <button class="border-0 p-0">
                    <img class="project-filters" data-filter="*" src="{{ asset('build/images/sdg_icons/SDG_Wheel.png')}}" style="width: 50px" >
                </button>
                {% for sdg in sdgs  %}
                    <button class="border-0 p-0">
                        <img class="project-filters" title="{{ sdg.name }}" data-filter=".{{ sdg.identifier }}" src="{{ asset('build/images/sdg_icons/' ~ sdg.image)}}" style="width: 50px" >
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="text-center my-4">
            <a class="btn btn-blueish dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project Status
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                <div class="ui-group">
                    <div class="button-group filter-button-group text-center mb-5" data-filter-group="status">
                        <a class="project-filters dropdown-item" data-filter=".status_1" href="#">Starting</a>
                        <a class="project-filters dropdown-item" data-filter=".status_2" href="#">Opened</a>
                        <a class="project-filters dropdown-item" data-filter=".status_3" href="#">Closed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid project-list">
    <div class="row row-eq-height">
        <div class="grid card-deck col-12">
            {% for project in projects %}
                {% if project.status is not same as 0 or is_granted('ROLE_ADMIN') or app.user and app.user.participants.owner %}
                    <div class="element-item {% for sdg in project.sdgs %}{{ sdg.identifier }} {% endfor %} status_{{ project.status}} col-lg-2 col-md-3 col-sm-10 col-12 vh-50 m-3 p-0 card" data-commonskills="{{ project.commonSkillsWithUser|length }}" >
                        <div class="position-relative">
                            <a href="{{ path('project_show', {'id': project.id}) }}">
                                {% if project.cover == 'DEFAULT_COVER.png' %}
                                    <img class="card-img-top m-0 status_{{ project.status}}" src="{{ asset('build/images/sdg_icons/DEFAULT_COVER.png') }}" alt="Project Cover">
                                {% else %}
                                    <img class="card-img-top m-0 status_{{ project.status}}" src="{{ asset('uploads/images/projectcover/') }}{{ project.cover }}" alt="Project Image">
                                {%  endif %}
                            </a>
                            {% if project.status == 1 %}
                                <a href="{{ path('project_show', {'id': project.id}) }}"><button class="btn-lookingvolunteers btn-primary">Looking for Volunteers</button></a>
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.title }}</a></h5>
                            <p class="card-text overflow-hidden" style="height: 100px;">{{ project.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div>
                                {% for sdg in project.sdgs %}
                                    <img title="{{ sdg.name }}" src="{{ asset('build/images/sdg_icons/' ~ sdg.image)}}" style="width: 30px" >
                                {% endfor %}
                            </div>
                            <div>
                                {% for skill in project.commonSkillsWithUser %}
                                    <span class="badge badge-blueish">{{ skill.name }}</span>
                                {% endfor %}
                                {% for skill in project.differentSkillsFromUser %}
                                    <span class="badge badge-grey">{{ skill.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {%  endfor %}
        </div>
    </div>
</div>








