{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.image) }}

      {% if is_granted('ROLE_ADMIN') %}

        <div class="text-secondary p-0">
             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
         {{ form_label(form.marking, 'As admin you can give a ranking from one to three on this article ') }}
         {{ form_row(form.marking) }}

      {% endif %}

<button class="btn btn-primary">{{ button_label|default('Publish') }}</button>
{{ form_end(form) }}
