{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.image) }}

<button class="btn btn-primary">{{ button_label|default('Publish') }}</button>
{{ form_end(form) }}
