{% extends 'layout/frame.html.twig' %}

{% block title %}Close the project{% endblock %}

{% block framed %}
    <h2>{{ project.title }}</h2>
    <h3>It's time for review !</h3>
    <p>As a Project Owner, you can add review for each project member. Those reviews will be visible on member profile and can help them to be accepted on other project</p>
    <p>Project members : </p>
    <ul>
        {% for volunteer in project.getVolunteers() %}
            <li>{{ volunteer.user.firstName }} {{ volunteer.user.lastName }} -
                {% if not volunteer.user.hasRecommendationOnthisProject(project) %}
                    <a href="{{ path('recommendation_new', {'project': project.id, 'volunteer': volunteer.user.id}) }}" class="btn btn-greenish">
                        Add a review
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <form action="{{ path('status_closed', {'id': project.id}) }}" method="post" onsubmit="return confirm('This project will be definitively closed. Be sure to write recommendation for all project members before click OK.')">
        <button class="btn btn-secondary-alt my-2 mx-2">Close the project</button>
    </form>
{% endblock %}