{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Project{% endblock %}
{% block content %}

<div class="form-register row justify-content-sm-center align-content-center">
    <div id="concept" class="home-section container bg-light col-sm-10 rounded mb-5 p-4 shadow">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-12">
                <h1 class="text-primary">Project List</h1>

    {% for project in projects %}
        <span><a href="{{ path('project_show', {'id' : project.id}) }}">{{ project.title }} </a>- </span>

        <span>{{ project.description }} - </span>

        <form action="{{ path('status_closed', {'id' : project.id}) }}" method="post"><button>Close the project</button></form>

        {% for sdg in project.sdgs %}
            <span>SDG : {{ sdg.name }}</span>
        {% endfor %}
        {% if app.user %}
            {% if app.user.isParticipantOn(project) %}
                <p>Your demand was already sent</p>
            {% else %}
                <a href="{{ path('project_participant_project', {'project': project.id }) }}">Participe</a>
            {% endif %}
        {% endif %}



        <table>
            <tr>
                <td><a href="{{ path('project_edit', {'id': project.id}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>{{ include('project/_delete_form.html.twig') }}</td>
            </tr>
        </table>
        <br>
    {% endfor %}
{% endblock %}