{% extends 'layout/frame.html.twig' %}

{% block title %}{{ parent() }} - {{ project.title }}{% endblock %}

{% block framed %}


<h2 class="text-primary my-2 text-center text-break">{{ project.title }}</h2>
{% if project.status == constant('APP\\Entity\\Project::STATUS_REQUEST_SEND') %}
    <h5 class="alert alert-primary">
        Your project is on request status. Only you and the admin can see your project.
        You have to wait the validation of an admin before having contributors. (You can see the status of your project on the bottom left or in the project section of your dashboard
    </h5>
{% endif %}
<div class="row">
    <div class="col-12 col-md-3">
        <div class="d-flex flex-column align-items-center justify-content-center my-4">
            <a class="mb-2" href="{{ path('project_index') }}">Back to the projects list</a>
            {% if app.user %}
                {% if app.user.isParticipantOn(project) %}
                    <p class="alert alert-blueish text-center m-0">{{ app.user.getProjectRoleMessage(project) }}</p>
                {% elseif project.status == constant('App\\Entity\\Project::STATUS_REQUEST_VALIDATED') %}
                    <a href="{{ path('project_participant_project', {'project': project.id}) }}">
                        <button class="btn btn-secondary text-light p-3">I want to contribute !</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link changingtab active" id="v-pills-details-tab" data-toggle="pill" href="#v-pills-details" role="tab" aria-controls="v-pills-details" aria-selected="false">
                Details
            </a>
            <a class="nav-link changingtab" id="v-pills-members-tab" data-toggle="pill" href="#v-pills-members" role="tab" aria-controls="v-pills-members" aria-selected="false">
                Members
            </a>
            {% if project.status != constant('App\\Entity\\Project::STATUS_CLOSED') %}
            <a class="nav-link changingtab" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                Tasks
            </a>
            {% endif %}
            {% if (app.user and
                   app.user.isParticipantOn(project) and
                   app.user.getParticipationOn(project).role != constant('App\\Entity\\Participant::ROLE_WAITING_VOLUNTEER')) and
                    project.status != constant('App\\Entity\\Project::STATUS_CLOSED') %}
                <a class="nav-link changingtab" id="v-pills-tchat-tab" data-toggle="pill" href="#v-pills-tchat" role="tab" aria-controls="v-pills-tchat" aria-selected="false">
                    Tchat
                </a>
                <a class="nav-link changingtab" id="v-pills-files-tab" data-toggle="pill" href="#v-pills-files" role="tab" aria-controls="v-pills-files" aria-selected="false">
                    Files
                </a>
            {% endif %}
        </div>

    </div>
    <div class="col-12 col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade changingcontent show active" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
                {% include 'component/project/_project_details.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-members" role="tabpanel" aria-labelledby="v-pills-members-tab">
                {% include 'component/project/_project_members.html.twig' %}
            </div>
            <div class="tab-pane fade  changingcontent" id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">
                {% include 'component/project/_project_tasks.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-tchat" role="tabpanel" aria-labelledby="v-pills-tchat-tab">
                 {% include 'component/project/_project_tchat.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-files" role="tabpanel" aria-labelledby="v-pills-files-tab">
                {% include 'component/project/_project_files.html.twig' %}
            </div>
        </div>
    </div>
</div>


<div class="ml-3">
    <div class="row">
        <ul class="project-specifications col-12 col-md-3 d-flex justify-content-start mb-2 list-group list-group-flush">

            <li class="list-group-item p-0 py-2">
                Project status :
                {% if project.status == constant('App\\Entity\\Project::STATUS_REQUEST_VALIDATED') %}
                    <span class="badge badge-secondary-alt p-2 my-2">{{ project.textStatus }}</span>
                {% else %}
                    <span class="badge badge-greenish p-2 my-2">{{ project.textStatus }}</span>
                {% endif %}
                {% if (app.user and
                app.user.isParticipantOn(project) and
                app.user.getParticipationOn(project).role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER') and
                project.status != constant('App\\Entity\\Project::STATUS_CLOSED')) %}
                    {% if project.status == constant('App\\Entity\\Project::STATUS_REQUEST_VALIDATED') %}
                        <form action="{{ path('project_start', {'id': project.id}) }}" method="post">
                            <button class="btn btn-secondary">
                                No volunteers needed anymore
                            </button>
                        </form>
                    {% elseif project.status == constant('App\\Entity\\Project::STATUS_OPEN')  %}
                        <form action="{{ path('project_need_volunteers', {'id': project.id}) }}" method="post">
                            <button class="btn btn-secondary">
                                Need volunteers !
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
            <li class="list-group-item p-0 py-2">
                {% for sdg in project.sdgs %}
                    <img src="{{ asset('build/images/sdg_icons/' ~ sdg.image) }}" alt="{{ sdg.name }}" style="width: 40px;">
                {% endfor %}
            </li>
            <li class="list-group-item p-0 py-2">
                <p class="font-italic">Starting Date : {{ project.createdAt|date('y-m-d') }}</p>
            </li>
            <li class="list-group-item p-0 py-2  d-flex flex-wrap justify-content-start align-items-center">
                {% if (app.user and
                   app.user.isParticipantOn(project) and
                   app.user.getParticipationOn(project).role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER') and
                    project.status != constant('App\\Entity\\Project::STATUS_CLOSED')) or
                   is_granted('ROLE_ADMIN')  %}
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <div>
                            <a href="{{ path('project_edit', {'id': project.id}) }}">
                                <button class="btn btn-blueish my-2 mx-2">Edit</button>
                            </a>
                        </div>
                        <div>
                            <form action="{{ path('project_close', {'id': project.id}) }}" method="post" onsubmit="return confirm('Do you really want to close the project ?')">
                                <button class="btn btn-secondary-alt my-2 mx-2">Close</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        {% include 'project/_delete_form.html.twig' %}
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addFile') }}
    {{ encore_entry_script_tags('rightTab') }}
{% endblock %}
