{% extends 'layout/frame.html.twig' %}

{% block title %}{{ parent() }} - {{ project.title }}{% endblock %}

{% block framed %}


<h2 class="text-primary my-2 text-center text-break">{{ project.title }}</h2>
<div class="row">
    <div class="col-12 col-md-3">
        <div class="d-flex flex-column align-items-center justify-content-center my-4">
            <a class="mb-2" href="{{ path('project_index') }}">Back to the projects list</a>
            {% if app.user %}
                {% if app.user.isParticipantOn(project) %}
                    <p class="alert alert-blueish text-center m-0">{{ app.user.getProjectRoleMessage(project) }}</p>
                {% else %}
                    <a href="{{ path('project_participant_project', {'project': project.id}) }}">
                        <button class="btn btn-secondary text-light p-3">I want to contribute !</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link changingtab active" id="v-pills-details-tab" data-toggle="pill" href="#v-pills-details" role="tab" aria-controls="v-pills-details" aria-selected="false">
                Details
            </a>
            <a class="nav-link changingtab" id="v-pills-members-tab" data-toggle="pill" href="#v-pills-members" role="tab" aria-controls="v-pills-members" aria-selected="false">
                Members
            </a>
            <a class="nav-link changingtab" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                Tasks
            </a>
            {% if (app.user and
                   app.user.isParticipantOn(project) and
                   app.user.getParticipationOn(project).role != constant('App\\Entity\\Participant::ROLE_WAITING_VOLUNTEER')) %}
                <a class="nav-link changingtab" id="v-pills-tchat-tab" data-toggle="pill" href="#v-pills-tchat" role="tab" aria-controls="v-pills-tchat" aria-selected="false">
                    Tchat
                </a>
                <a class="nav-link changingtab" id="v-pills-files-tab" data-toggle="pill" href="#v-pills-files" role="tab" aria-controls="v-pills-files" aria-selected="false">
                    Files
                </a>
            {% endif %}
        </div>

    </div>
    <div class="col-12 col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade changingcontent show active" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
                {% include 'component/project/_project_details.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-members" role="tabpanel" aria-labelledby="v-pills-members-tab">
                {% include 'component/project/_project_members.html.twig' %}
            </div>
            <div class="tab-pane fade  changingcontent" id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">
                {% include 'component/project/_project_tasks.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-tchat" role="tabpanel" aria-labelledby="v-pills-tchat-tab">
                 {% include 'component/project/_project_tchat.html.twig' %}
            </div>
            <div class="tab-pane fade changingcontent" id="v-pills-files" role="tabpanel" aria-labelledby="v-pills-files-tab">
                {% include 'component/project/_project_files.html.twig' %}
            </div>
        </div>
    </div>
</div>


<div class="ml-3">
    <div class="row">
        <ul class="project-specifications col-12 col-md-3 d-flex justify-content-start mb-2 list-group list-group-flush">

            <li class="list-group-item p-0 py-2">
                <span class="badge badge-blueish">{{ project.textStatus }}</span>
            </li>
            <li class="list-group-item p-0 py-2">
                {% for sdg in project.sdgs %}
                    <span class="badge badge-greenish">{{ sdg.name }}</span>
                {% endfor %}
            </li>
            <li class="list-group-item p-0 py-2">
                <p class="font-italic">Starting Date : {{ project.createdAt|date('y-m-d') }}</p>
            </li>
            <li class="list-group-item p-0 py-2  d-flex flex-wrap justify-content-start align-items-center">
                {% if (app.user and
                   app.user.isParticipantOn(project) and
                   app.user.getParticipationOn(project).role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER')) or
                   is_granted('ROLE_ADMIN') %}
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <div>
                            <a href="{{ path('project_edit', {'id': project.id}) }}">
                                <button class="btn btn-blueish my-2 mx-2">Edit</button>
                            </a>
                        </div>
                        <div>
                            <form action="{{ path('status_closed', {'id': project.id}) }}" method="post" onsubmit="return confirm('Do you really want to close the project ?')">
                                <button class="btn btn-secondary-alt my-2 mx-2">Close</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        {% include 'project/_delete_form.html.twig' %}
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('addFile') }}
    {% endblock %}
