<div class="my-4">
    <h5>The current project owner</h5>

    {% for participant in project.participants %}
        {% if participant.role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER') %}
            <div class="d-flex align-items-center flex-wrap my-3">
                {% if participant.user.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                    <img class="project-member-avatar" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}" alt="Picture {{ participant.user.firstname }}"
                {% else %}
                    <img class="project-member-avatar" src="{{ asset('uploads/images/avatar/') }}{{ participant.user.avatar.name }}" alt="Picture {{ participant.user.FullNameIfMemberOrONG }}">
                {% endif %}
                <p class="ml-3 my-0">{{ participant.user.FullNameIfMemberOrONG }}</p>
            </div>
        {% endif %}
    {% endfor %}

</div>

<div class="my-4">
    {% if project.Volunteers %}
        <h5>They are currently contributing to this project</h5>
            {% for participant in project.participants %}
                {% if participant.role == constant('App\\Entity\\Participant::ROLE_VOLUNTEER') %}
                    <div class="d-flex align-items-center flex-wrap my-3">
                        {% if participant.user.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                            <img class="project-member-avatar" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}" alt="Picture {{ participant.user.firstname }}"
                        {% else %}
                            <img class="project-member-avatar" src="{{ asset('uploads/images/avatar/') }}{{ participant.user.avatar.name }}" alt="Picture {{ participant.user.FullNameIfMemberOrONG }}">
                        {% endif %}
                        <p class="mx-2 my-0">{{ participant.role }} - {{ participant.user.FullNameIfMemberOrONG }}</p>
                    </div>
                {% endif %}
            {% endfor %}
    {% else %}
        <h5 class="font-italic">There are no volunteers in this project</h5>
    {% endif %}
</div>
<div class="my-4">
    {% if app.user %}
        {% if (app.user.isParticipantOn(project)) and
              (app.user.getParticipationOn(project).role == constant('App\\Entity\\Participant::ROLE_PROJECT_OWNER')) and
              project.hasWaitingVolunteers()
        %}
            <h5>They are currently waiting to be accepted on this project</h5>
            {% for participant in project.participants %}
                {% if participant.role == constant('App\\Entity\\Participant::ROLE_WAITING_VOLUNTEER') %}
                    <div class="d-flex align-items-center flex-wrap my-5">
                        {% if participant.user.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                            <img class="project-member-avatar" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}" alt="Picture {{ participant.user.firstname }}"
                        {% else %}
                            <img class="project-member-avatar" src="{{ asset('uploads/images/avatar/') }}{{ participant.user.avatar.name }}" alt="Picture {{ participant.user.FullNameIfMemberOrONG }}">
                        {% endif %}
                        <p class="mx-2 my-0">{{ participant.role }} - {{ participant.user.FullNameIfMemberOrONG }}</p>
                        <form onsubmit="return confirm('Are you sure you want to approve this member? {{ participant.user.FullNameIfMemberOrONG }}');" class="mx-2" method="post"
                              action="{{ path('project_participant_project_accepted', {'project': participant.project.id, 'user': participant.user.id}) }}">
                            <button class="btn btn-greenish">Approve</button>
                        </form>
                        <form onsubmit="return confirm('Are you sure you want to remove this member? {{ participant.user.FullNameIfMemberOrONG }}');" class="mx-2" method="post"
                              action="{{ path('project_participant_project_removed', {'project': participant.project.id, 'user': participant.user.id}) }}">
                            <button class="btn btn-secondary">Decline</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</div>


