<div class="container">
    <div class="row ">

        {% for task in tasks %}

            <div class="card task m-1" style="width: 18rem;">

                <div class="card-body">

                    {% if task.status == 0 %}
                        <span class="bg-secondary text-light mb-1">To start </span>
                    {% elseif task.status == 1 %}
                        <span class="bg-blueish text-light mb-1">In progress </span>
                    {% elseif task.status == 2 %}
                        <span class="bg-greenish text-light mb-1">Achieved </span>
                    {% endif %}

                    <h5 class="card-title">{{ task.name }}</h5>


                    <div class="card-text">{% if task.status == 0 or task.status == 1 %}{{ task.description }}
                            <p><small class="card-subtitle text-muted">Attributed to : {% for user in task.users %}
                                    <cite>{{ user.firstname }}</cite>
                                {% endfor %}</small></p>{% endif %}

                        <p><small class="card-subtitle text-muted">Deadline :
                                <cite>{{ task.deadline|date('Y-m-d') }}</cite></small></p>

                    </div>

                    <div class="card-footer">
                        {% if task.status == 0 or task.status == 1 %}
                            <a class="card-link btn"
                               href="{{ path('project_task_edit', {'idTask': task.id}) }}">edit</a>
                        {% endif %}
                        {% if task.status == 0 %}
                            <form action="{{ path('project_task_attribute', {'idTask' : task.id}) }}" method="post">
                                <small>
                                    <button class="card-link btn">Attribute this task</button>
                                </small>
                            </form>
                            <form action="{{ path('status_attributTask', {'id' : task.id}) }}" method="post">
                                <small>
                                    <button class="card-link btn">Start</button>
                                </small>
                            </form>
                        {% endif %}

                        {% if task.status == 1 %}
                            <form action="{{ path('status_achievedTask', {'id' : task.id}) }}" method="post">
                                <small>
                                    <button class="card-link btn">Close</button>
                                </small>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% else %}
            <h3>no tasks yet on this project</h3>
        {% endfor %}

    </div>
</div>
