
<div class="container d-flex flex-column bg-light rounded w-100 mt-3">
    <h3>Files</h3>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Documents available :</p>
            <ul class="list-group list-group-flush">
                {% for file in files %}
                    <li class="list-group-item list-group-item-action p-0">
                        <div class="d-flex w-100 justify-content-between">
                            <span> <i class="far fa-file"></i> - {{ file.name }}</span>
                            <span><a href="/uploads/documents/projects/{{ file.name }}" download="{{ file.name }}">Download</a></span>
                        </div>
                        <span>{{ file.projectFile }}</span>
                        <span><small>{{ file.user }}</small></span>
                        <span class="badge badge-secondary badge-pill mb-1">{{ file.updatedAt|date('y-m-d') }}</span>
                        <form method="post" action="{{ path('project_file_delete', {'idFile': file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this file?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
                            <button class="btn"><i class="far fa-trash-alt"></i></button>
                        </form>

                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_rest(form) }}
            {{ form_errors(form) }}
            <button class="btn btn-secondary mt-2">{{ button_label|default('Submit') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
