<div class="container d-flex flex-column bg-light rounded w-100 mt-3">
    {% if project.tchat %}
        <h5>{{ project.tchat.name }} - Tchat room</h5>
        <div class="row">

            <div class="card w-75 m-1 border border-blueish" style="height: 400px;">
                <div class="card-body overflow-auto">
                    {% for message in project.tchat.messages %}
                        {% if message.speaker.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                            <img class="card-img-top m-0 img-fluid" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}" alt="Picture {{ message.speaker.firstname }}" style="height: 30px; width: auto">
                        {% else %}
                            <img class="card-img-top m-0 img-fluid" src="{{ asset('uploads/images/avatar/') }}{{ message.speaker.avatar.name }}" alt="Picture {{ message.speaker.firstname }}" style="height: 30px; width: auto">
                        {% endif %}
                        <small class="mb-0 badge badge-light border">{{ message.speaker }}</small>
                        <p> <em>{{ message.content }} </em></p>
                    {% endfor %}
                </div>

                {% form_theme tchatMessageForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(tchatMessageForm) }}
                <button class="btn-blueish">Send</button>
                {{ form_widget(tchatMessageForm) }}
                {{ form_end(tchatMessageForm) }}

            </div>

            <div class="card m-1 border border-greenish" style="height: 400px;">
                <div class="card-body overflow-auto">
                    <p class="card-text">They have access : </p>
                    <ul class="list-inline">
                        {% for user in project.tchat.users %}
                            <li>

                                <div class="badge badge-light border text-wrap" style="width: 6rem;">
                                    {% if user.avatar.name == 'DEFAULTAVATAR_sdg-wheel.png' %}
                                        <img class="card-img-top m-0 img-fluid" src="{{ asset('build/images/sdg_icons/sdg-wheel.png') }}" alt="Picture {{ user.firstname }}"  style="height: 30px; width: auto">
                                    {% else %}
                                        <img class="card-img-top m-0 img-fluid" src="{{ asset('uploads/images/avatar/') }}{{ user.avatar.name }}" alt="Picture {{ user.firstname }}" style="height: 30px; width: auto">
                                    {% endif %}
                                    {{ user.firstname }} {{ user.lastname }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    {% else %}
        <p>no tchat set on this project</p>
    {% endif %}
</div>


